# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
dist-ssr/
*.local

# Env
.env
.env.*
!.env.example
